{% block grid_images %}
	{% if ( field_groups|length > 0 ) %}
	<section class="section-grid-images">
		{% for group in field_groups %}
			{% if ( group.img ) %}
				{% if ( group.btnlink ) %}
				<a class="grid-box" href="{{ group.btnlink }}" style="background-image: url({{ group.img }})"></a>
				{% else %}
				<div class="grid-box" style="background-image: url({{ group.img }})"></div>
				{% endif %}
			{% endif %}
		{% endfor %}
	</section>
	{% endif %}
{% endblock %}
