{% block infographic_cards %}
	{% if ( field_groups|length > 0 ) %}
	<section class="section-infographic-cards">
		<div class="ct-container">
			<div class="grid">
				{% for group in field_groups %}
				<div class="grid__box" data-aos="zoom-in-right">
					<div class="grid__inner">
						<div class="grid__text">
							{% if ( group.title ) %}
							<h5 class="grid__title">{{ group.title | raw }}</h5>
							{% endif %}
							<div class="grid__desc"><p>{{ group.content | raw }}</p></div>
						</div>
						<div class="lazy grid__image" data-bg="url({{ group.img | e('html_attr') }})"></div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</section>
	{% endif %}
{% endblock %}


