{% block issue_list %}
    {% if ( fields ) %}
	<section class="section-choose-topics">
	    <div class="ct-container">
		<div class="content">
		    <p class="title text large bold">{{ fields.title|e('wp_kses_post')|raw }}</p>
		    <p class="subtitle text small semi-bold">{{ fields.subtitle|e('wp_kses_post')|raw }}</p>
		    <div class="tags">
			{% for campaign in fields.campaigns %}
			    <div data='{{ campaign.engaging_ID }}' class="topic-button tag">{{ campaign.name }}</div>
			{% endfor %}
		    </div>
		    <a id="topic-submit-button" class="button light">TODO 立即關注</a>
		</div>
	    </div>
	</section>
    {% endif %}
{% endblock %}
