{% block petition %}
	{% if ( fields ) %}
		<section class="petition-ask">
			<div class="petition-ask__wrapper">
				{% if ( fields.title ) %}
					<div class="petition-ask__title">
						<h1>{{ fields.title }}</h1>
					</div>
				{% endif %}
        {% if ( fields.description ) %}
					<div class="petition-ask__description">
						<p>{{ fields.description|e('wp_kses_post')|raw }}</p>
					</div>
        {% endif %}
			</div>
		</section>
	{% endif %}
{% endblock %}
