{% block gpea_test %}
    {% if ( fields ) %}
	<div class="container latte-simple-text-container">
	    <div class="row">
		<div class="col-md-12 col">
		    <h2>{{ fields.my_title|e('wp_kses_post')|raw }}</h2>
		    <hr />
		    <p>{{ fields.my_text }}</p>
		</div>
	    </div>
	</div>
    {% endif %}
{% endblock %}
