{% block testimonials %}
    {% if ( fields ) %}
	<section class="section-testimonials">
		<div class="swiper-container maxi-swiper">
			<div class="swiper-wrapper">
		    {% if fields.posts %}
			{% for post in fields.posts %}
				<div class="swiper-slide card-testimonial">
				    <p>{{ post.team_citation }}</p>
				    <div class="profile">
						{% if post.img_url %}
							<img src="{{ post.img_url }}" alt="" />
						{% endif %}		
						<div class="name">{{ post.post_title|e('wp_kses_post')|raw }}</div>
						<div class="position">{{ post.team_role|e('wp_kses_post')|raw }}</div>
					</div>
				</div>
			{% endfor %}
		    {% endif %}
			</div>
			<div class="swiper-pagination"></div>
			<div class="swiper-button-next">
				<span class="icon-chevron-right"></span>
			</div>
			<div class="swiper-button-prev">
				<span class="icon-chevron-right"></span>
			</div>
		</div>		
	</section>
    {% endif %}
{% endblock %}
