{% block values_section %}
    {% if ( fields ) %}
	<section class="section-values lazy" data-bg="url(https://picsum.photos/id/139/1280/720)">
	    <div class="ct-container">
		<div class="content">
		    <div class="top-box">
			<p class="title text very-big light">{{ fields.title|e('wp_kses_post')|raw }}</p>
			<p class="subtitle text bold">{{ fields.subtitle|e('wp_kses_post')|raw }}</p>
		    </div>
		</div>
	    </div>
	    <div class="swiper-container section-values-swiper">
		<div class="swiper-wrapper">
		    {% for i in 1..4 %}
			{% if fields['title_'~i] %}
			    <div class="swiper-slide">
				<p>{{ fields['title_'~i]|e('wp_kses_post')|raw }}</p>
				<p>{{ fields['description_'~i]|e('wp_kses_post')|raw }}</p>
			    </div>
			{% endif %}
		    {% endfor %}
		</div>
	    </div>
	</section>
    {% endif %}
{% endblock %}
