.gpnl--liveblog {
  border-left: 2px dotted #31a9c1;
  padding-left: 10%;
}

.gpnl--liveblog article small::before {
  content: "⛵";
  display: block;
  position: absolute;
  left: 0;
  //width: 11px;
  //height: 11px;
  //background-color: #fafafa;
  //border: 3px solid #6c0;
  //border-radius: 50%;
  font-size: 1.5rem;
}
