.happy-point-block-wrap {
  height: unset;

  .gpnl-newsletter__text {
    margin: 20px;
  }

  p {
    line-height: unset;
    font-size: unset;
    color: unset;
  }

  .gpnl-newsletter__form {
    margin: 20px;
  }

  h2 {
    margin-bottom: unset;
  }
}
