.quote {
	display: block;
	clear: both;
	height: 190px;
	width: 100%;
	padding: 20px;
	text-align: center;
	font-weight: 500;
	color: #18191a;
	border-top: 3px solid #66cc00;
}

.quote--dark {
	color: white;
	background-color: #5c6978;
}

.quote__img{
	border-radius: 50%;
}

.quote__text{
	font-size: 20px;
}
