#p4nlbks_main_settings_save_button { margin-top: 15vh; }

::-webkit-input-placeholder {
    font-style: italic;
}
:-moz-placeholder {
    font-style: italic;
}
::-moz-placeholder {
    font-style: italic;
}
:-ms-input-placeholder {
    font-style: italic;
}
.notice.is-dismissible {
    opacity: 0.1;
    color: white;
    background-color: #32373C;
    display: inline-block;
    position: absolute;
}
